/**
 * @name Cyberpunk 2077
 * @author Patryk Bielanin | bielak#2500
 * @description Cyberpunk 2077 UI styled theme for better discord
 * @version 1.0.6
 * @source https://github.com/PatrykBielanin/discord-cyberpunk2077-theme
 * @website https://github.com/PatrykBielanin/discord-cyberpunk2077-theme
 * @donate https://www.paypal.com/donate/?hosted_button_id=PGVKB863SXYUQ
 */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani');
@import url('https://raw.githubusercontent.com/Spinout2960/discord-cyberpunk2077-theme/main/base.css');

:root {
    --background-primary: linear-gradient(180deg, rgba(51,0,10,.75) 20%, rgba(5,15,20,1) 80%); /* Background gradient */
    --background-secondary: linear-gradient(180deg, rgba(5,10,15,0.5) 20%, rgba(5,15,20,1) 80%); /* Background gradient */
    --font-primary: 'Rajdhani'; /* Font */
    --primary-text-color: rgb(240, 240, 240); /* Font color */

    --primary: 24, 15, 22;  /* Background color mainly used for popups */
    --red: 250, 76, 78; /* Use RGB values */
    --blue: 41, 255, 255; /* Use RGB values */
    --yellow: 255, 214, 64; /* Use RGB values */
    --green: 71, 213, 139; /* Use RGB values */
    --dark-green: 56, 171, 111; /* Use RGB values */

    --avatar-circle: 0; /* Square avatar */
    --avatar-rounded: 5px; /* Square avatars */
    --avatar-border: 1px solid var(--neon-red-color); /* Border of avatar */
    --background-secondary-alt: black;
}
